.service-btn {
  border: none;
  background-color: #c1d445;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  transition: all ease-in 0.4s;
}
.service-btn:hover.service-details-btn {
  background-color: #fff;
  color: #c1d445;
  border: 2px solid #c1d445;
}
.card-item:hover {
  /* transform: translateY(-20px);
  transition: 0.5s; */
}
